{% extends 'registration/base.html' %}
{% load mathfilters %}
{% load static %}
{% load l10n %}

{% block title %}Bookings{% endblock title %}

{% block extra_scripts %}
    <script src="{% static 'ledger/sorters.js' %}"></script>
{% endblock extra_scripts %}

{% block content %}
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>

    {% if context.entries %}
        <div class="container-fluid padding">
            <div class="row">
                <div class="col-12">
                    <table id="table" class="table table-striped table-bordered table-hover" data-toggle="table">
                        <thead>
                        <tr>
                            <th scope="col" data-field="name" data-sortable="true" data-sort-name="_name_data"
                                data-sorter="stringCaseInsensitiveSorter">Name
                            </th>
                            <th scope="col" data-field="date" data-sortable="true" data-sort-name="_date_data"
                                data-sorter="dateSorter">
                                Datum
                            </th>
                            <th scope="col" data-field="price" data-sortable="true" data-sort-name="_price_data"
                                data-sorter="floatSorter">Preis
                            </th>
                            <th scope="col" data-sortable="true">Bezahlt von</th>
                            <th class="text-right"><a href="{% url 'new_single_entry' %}"><i class="fas fa-plus-square"
                                                                                             aria-hidden="true"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in context.entries %}
                            <tr>
                                <td data-name="{{ entry.name }}">{{ entry.name }}</td>
                                <td data-date="{{ entry.date|date:'Y-m-d' }}">{{ entry.date }}</td>
                                <td data-price="{{ entry.price.amount|unlocalize }}"
                                    class="text-right">{{ entry.price }}</td>
                                <td>
                                    {% if entry.paid_by.first_name and entry.paid_by.last_name %}
                                        {{ entry.paid_by.first_name }} {{ entry.paid_by.last_name }}
                                    {% else %}
                                        {{ entry.paid_by }}
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    {% if user == entry.paid_by %}
                                        <a class="btn btn-default" href="{% url 'edit_single_entry' pk=entry.pk %}"><i
                                                class="fas fa-edit" aria-hidden="true"></i></a>
                                        <a class="btn btn-default" href="{% url 'single_entry_delete' pk=entry.pk %}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $('#table').bootstrapTable()
            })
        </script>
    {% else %}
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12">
                    <h2>Noch keine Einträge vorhanden.</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <p>
                        <a href="{% url 'new_single_entry' %}">
                            <i class="fas fa-10x fa-plus-square" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}

